polkit.addRule(function(action, subject) {
  if (action.id == "org.freedesktop.policykit.exec" &&
      action.lookup("program") == "/usr/local/bin/win11-firstboot-root" &&
      subject.user == "setup") {
    return polkit.Result.YES;
  }
});